/* rg.infocard search styles */
.SearchInfocardContainer {
    .listing.collection-listing {
      width:100%;
      margin:auto;
    }
    div.formControls {
      margin: 1.35em 0 0;
      width: 100%;
      float: none;
      clear: both;
    }
    #content-core form .field {
      width:25%;
      min-width:200px;
      float:left;
      clear:none;
    }
    div.field.error {
      background-color: #f2dede;
      border: none;
      padding: 15px;
      margin: 30px;
      font-size:inherit;
      box-shadow: none;
      border: 1px solid #ebccd1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    div.field.error div.error {
      color: #a94442;
    }
    div.field.error div.error:before {
      line-height: 14px;
    }

    #content-core .field input,
    #content-core .field select {
      width:90%;
    }

    #content-core table.dataTable tr.odd td {
      background-color: #eee;
    }
    #content-core table.dataTable tr.even  td {
      background-color: #FFF;
    }
    div.dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: left;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    div.dataTables_wrapper .dataTables_filter input {
      width:100%;
      margin-left: 0;
    }
    #content a.link-overlay {
      border-bottom: none !important;
    }
}
