.SearchInfocardContainer {
    div.formControls {
      margin: 1.35em 0 0;
      width: 100%;
      float: none;
      clear: both;
    }
    form .field {
      width: 25%;
      min-width: 200px;
      float: left;
      clear: none;

      input,
      select {
        width:90%;
      }
    }
    div.field.error {
      padding: 15px;
      margin-bottom: 20px;
    }
    .listing.collection-listing {
      width: 100%;
      margin: auto;
      background-color: transparent;
    }
}
