/* rg.infocard search styles */
.SearchInfocardContainer {
    div.formControls {
      margin: 1.35em 0 0;
      width: 100%;
      float: none;
      clear: both;
    }
    form .field {
      width: 25%;
      min-width: 200px;
      float: left;
      clear: none;

      input,
      select {
        width:90%;
      }
    }
    div.field.error {
      padding: 15px;
      margin-bottom: 20px;
    }
    .listing.collection-listing {
      width: 100%;
      margin: auto;
      background-color: transparent;
    }
    #content-core table.dataTable tr.odd td {
      background-color: #eee;
    }
    #content-core table.dataTable tr.even  td {
      background-color: #FFF;
    }
    div.dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: left;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    div.dataTables_wrapper .dataTables_filter input {
      width:100%;
      margin-left: 0;
    }
    #content a.link-overlay {
      border-bottom: none !important;
    }
}
