/* infocard styles */
table.TableInfocard {
    width: 100%;
    margin: auto;
    border: 0 none;
    background-color: transparent;
    border-radius: 0;

    & > tbody {
      & > tr {
        vertical-align: top;
        & > th,
        & > td {
          text-align: left;
          border: 0 none;
          padding: 8px;
          line-height: 1.5;
        }
        & > th {
          width: 30%;
        }
        & > td {
          width: 70%;
          & > p:last-child {
            margin-bottom:0;
          }
        }
      }
    }

    table {
      font-size: 0.9em;
    }
}
