/* infocard styles */
table.TableInfocard {
    width: 100%;
    margin: auto;
    border: 0 none;
    background-color: transparent;
    border-radius: 0;

    & > tbody {
      & > tr {
        vertical-align: top;
        & > th,
        & > td {
          text-align: left;
          border: 0 none;
          padding: 8px;
          line-height: 1.5;
        }
        & > th {
          width: 30%;
        }
        & > td {
          width: 70%;
          & > p:last-child {
            margin-bottom:0;
          }
        }
      }
    }

    table {
      font-size: 0.9em;
    }
}

/* infocard container search styles */
.SearchInfocardContainer {
  div.formControls {
    margin: 0;
    width: 100%;
    float: none;
    clear: both;
  }
  form .field {
    width: 25%;
    min-width: 200px;
    float: left;
    clear: none;

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      clear: both;
    }

    input,
    select {
      width: 90%;
    }
  }
  div.field.error {
    padding: 15px;
    margin-bottom: 20px;
  }
  .listing.collection-listing {
    width: 100%;
    margin: 30px auto 0;
    background-color: transparent;
  }
}

.portlet.infocardPortletSearch {
    .portletContent {
      form {
        margin-bottom: 1rem;
        .field {
          margin-bottom: 1rem;
          label {
            font-weight: 600;
            margin-bottom: 0.5rem;
            display: block;
          }
          input,
          select {
            width: 100%;
            max-width: 100%;
            min-width: 0;
          }
        }
        input {
          margin-bottom: 1rem;
        }
      }
    }
}

.tile.infocardTileSearch {
  margin-bottom: 30px;
  .tileTitle {
    margin: 25px 0 12.5px;
  }
  .tileBody {
    > div {
      margin-bottom: 1rem;
    }
    form {
      margin-bottom: 1rem;
      .field {
        margin-bottom: 1rem;
        display: flex;
        label {
          font-weight: 600;
          margin-bottom: 0.5rem;
          display: block;
          width: 20%;
        }
        input,
        select {
          width: 30%;
          min-width: 0;
        }
        @media (max-width: 767px) {
          display: block;
          label,
          input,
          select {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      input {
        margin-bottom: 1rem;
      }
    }
  }
}
